*
{
	padding: 0;
	margin: 0;
} 

body
{
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #fffadf;
	background: url(images/gradient.jpg) repeat-x top;
	background-color: #aa9786;
	text-align: center;
}

p
{
	margin-bottom: 10px;
}

a
{
	color: #fffadf;
	outline: none;
}

.video
{
	background-color: #aa9786;	
}

#real_estate
{
	margin: 0 auto;
	width: 800px;
}

#header
{
	margin: 0;
}

#menu
{
	position: relative;
	z-index: 2;
	margin-top: -1px;
	text-align: center;
}

#menu ul
{
	padding-top: 5px;
	padding-bottom: 5px;
	list-style-type: none;
}

#menu ul li
{
	display: inline;
	margin: -2px;
	text-align: center;
}

#menu ul li.current_page_item a
{
	background-color: #a79d96;/*#998f86*/
}

#menu ul li.current_page_ancestor a
{
	background-color:#a79d96;/*#998f86*/
}

#menu ul a
{
	text-decoration: none;
	background-color: #79695c;
	color: #fffadf;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color:#79695c;
	font-size: 17px;
	text-transform: uppercase;
}

#menu ul a:hover
{
	background-color:#8e7f74;
}

#menu ul.languages
{
	list-style-type: none;
	margin-top: -25px;
	text-align: left;
	margin-left: 30px;
}

#menu ul.languages a
{
	text-decoration: none;
	background-color: #79695c;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

#menu ul.languages a img
{
	border: 0;
}

#picture
{
	z-index: 0;
	margin-top: -15px;
}

.banner
{
	border: none;	
}

#content
{
	width: 650px;
	text-align: left;
	margin: 0 auto;
}

#content .slideshowlink
{
	display: none;
}

table.content
{
	cellpadding: 0;
	cellspacing: 0;
	width: 650px;
}

td.date
{
	width: 75px;
	height: 15px;
	background-color:#8e7f74;
	font-size: 15px;
	/*font-weight: bold;*/
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.title
{
	text-decoration: none;
	background-color:#b9a896;
	height: 15px;
	font-size: 15px;
	font-weight: normal;
	font-style: italic;
	text-transform: uppercase;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-left: -1px;
}

.title a
{
	text-decoration: none;
}

.subnavigation
{
	text-decoration: none;
	padding-top: 2px;
	padding-bottom: 2px;
	height: 15px;
	font-size: 15px;
	font-weight: normal;
	font-style: normal;
	text-transform: uppercase;
}

/* deprecated -> multipage plugin */
.subnavigation ol.contentlist
{
	list-style-type: none;
}

.subnavigation ol.contentlist a
{
	text-decoration: none;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #AA9786;
}

.subnavigation ol.contentlist a:hover
{
	background-color: #b9a896;
}

.subnavigation ol.contentlist span
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #b9a896;
}

.subnavigation ol.contentlist li
{
	display: inline;
}
/* //deprecated -> multipage plugin */

.subnavigation ul
{
	list-style-type: none;
}

.subnavigation ul a
{
	text-decoration: none;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #AA9786;
}

.subnavigation ul a:hover
{
	background-color: #b9a896;
}

.subnavigation ul li
{
	margin-right: -5px;
	display: inline;
}

.subnavigation ul li.current_page_item a
{
	background-color: #b9a896;
}

td.title ul
{
	list-style-type: none;
}

td.title ul li
{
	margin: 0px;
	text-align: left;
}

td.content
{
	font-size: 14px;
	padding-top: 6px;
}

td.actions
{
	/*padding-top: 6px;*/
	font-size: 16px;
	padding-bottom: 15px;
}

td.actions a
{
	text-decoration: none;
	background-color:#523f2e;
	font-size: 11px;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
}

td.actions hr
{
	height: 1px;
	color: #b9a896;
	background-color: #b9a896;
	margin-top: 8px;
	border: 0;	
}

ul.commentlist
{
	list-style-type: none;
	margin-top: -6px;
}

ul.commentlist li
{
	background-color: #b9a896;
}

ul.commentlist li p
{
	margin-left: 13px;
	margin-right: 13px;
	padding-bottom: 13px;
}

ul.commentlist li p.speech
{
	background-color: #aa9786;
	margin-left: 0px;
	margin-right: 0px;
	padding-bottom: 0px;
	vertical-align: bottom;
}

ul.commentlist li p.speech img
{
	margin-left: 50px;	
}

ul.commentlist li p.top
{
	padding-top: 10px;
	padding-bottom: 0;
}

ul.commentlist li p.top cite a
{
	text-decoration: none;
	background-color:#b9a896;
	font-size: 12px;
	font-style:italic;
}

ul.commentlist li p.top cite a:hover
{
	text-decoration: underline;
}

ul.commentlist li img
{
	border: 0;
}

ul.commentlist li a
{
	text-decoration: none;
	background-color:#523f2e;
	font-size: 11px;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
}

#comment hr
{
	height: 1px;
	color: #b9a896;
	background-color: #b9a896;
	margin-top: 4px;
	margin-bottom: 4px;
	border: 0;	
}

#comment input
{
	background-color: #b9a896;
	color: #fffadf;
	border: 1px solid #aa9786;
	font-size: 14px;
}

#comment textarea
{
	background-color: #b9a896;
	color: #fffadf;
	border: 1px solid #aa9786;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
}

#comment #submit
{
	color: #fffadf;
	background-color:#523f2e;
	border: none;
	margin-top: 4px;
	font-size: 11px;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
}

#footer
{
	padding-top: 2px;
	text-align: right;
}

#footer a
{
	text-decoration: none;
	color: #b9a896;
	font-size: 12px;
}

#footer a:hover
{
	color: #fffadf;
}

/* prevent outline to appear around wordtube-video */
object
{
	outline: none;
}